In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("./data/players.csv")

In [14]:
df.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [10]:
df.shape

(32601, 23)

In [11]:
df.columns

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32601 entries, 0 to 32600
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32601 non-null  int64
 1   first_name                            30539 non-null  object
 2   last_name                             32601 non-null  object
 3   name                                  32601 non-null  object
 4   last_season                           32601 non-null  int64
 5   current_club_id                       32601 non-null  int64
 6   player_code                           32601 non-null  object
 7   country_of_birth                      29802 non-null  object
 8   city_of_birth                         30146 non-null  object
 9   country_of_citizenship                32218 non-null  object
 10  date_of_birth                         32554 non-null  object
 11  sub_position                          32421 non-null  object
 12  position                              32601 non-null  object
 13  foot                                  30065 non-null  object
 14  height_in_cm                          30345 non-null  float64
 15  contract_expiration_date              20510 non-null  object
 16  agent_name                            16582 non-null  object
 17  image_url                             32601 non-null  object
 18  url                                   32601 non-null  object
 19  current_club_domestic_competition_id  32601 non-null  object
 20  current_club_name                     32601 non-null  object
 21  market_value_in_eur                   31078 non-null  float64
 22  highest_market_value_in_eur           31078 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB

In [13]:
df.describe()

,player_id,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur
count,3.260100e+04,32601.000000,32601.000000,30345.000000,3.107800e+04,3.107800e+04
mean,3.483126e+05,2019.357259,4815.495813,182.291943,1.639685e+06,3.789347e+06
std,2.845089e+05,3.961564,11583.707786,7.037030,6.407293e+06,9.887241e+06
min,1.000000e+01,2012.000000,3.000000,17.000000,1.000000e+04,1.000000e+04
25%,1.079730e+05,2016.000000,403.000000,178.000000,1.000000e+05,2.750000e+05
50%,2.839170e+05,2020.000000,1063.000000,183.000000,2.500000e+05,8.000000e+05
75%,5.302230e+05,2023.000000,3060.000000,187.000000,7.000000e+05,3.000000e+06
max,1.391239e+06,2024.000000,110302.000000,210.000000,2.000000e+08,2.000000e+08

### Column Descriptions
- player_name: Name of the football player
- nountry_of_citizenship: Player country
- current_club_name: Current club
- market_value_in_eur: Market value in euros
- last_season: Football season

In [15]:
total_players = len(df)

In [20]:
clubs = df['current_club_name'].unique().tolist()

In [21]:
club_player_count = {
    club: len(df[df['current_club_name'] == club])
    for club in clubs[:5]
}

In [22]:
for club, count in club_player_count.items():
    print(club, count)

Società Sportiva Lazio S.p.A. 131
Borussia Dortmund 64
Panthessalonikios Athlitikos Omilos Konstantinoupoliton 109
Juventus Football Club 98
FC Bayern München 71

In [24]:
def value_category(value):
    if value > 50000000:
        return "High Value"
    elif value > 10000000:
        return "Medium Value"
    else:
        return "Low Value"

df['value_category'] = df['market_value_in_eur'].apply(value_category)

In [25]:
df['market_value_in_eur'].mean()
df['market_value_in_eur'].max()
df['market_value_in_eur'].min()

10000.0